---
import MainLayout from '../components/MainLayout.astro';
import { getAllUsers } from '../lib/crud';

const users = await getAllUsers();
---
<MainLayout>

    <h1>Usuarios</h1>
    <table class="table table-zebra bg-slate-400 max-w-md">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>correo</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        
    
    
      {users.map(user => (

        <tr >
          <td>{user.name}</td>
          <td>{user.email}</td>
          <td><a href={`/update/${user.id}`} class="btn btn-xs">Actualizar</a></td>
        </tr>


      ))}
        </tbody>

      </table>
    
	</MainLayout>