---
import MainLayout from '../components/MainLayout.astro';
import { getAllUsers } from '../lib/crud';

const users = await getAllUsers();
---
<MainLayout>

    <h1>Usuarios</h1>
    <ul>
      {users.map(user => (
        <li>{user.name} - {user.email}</li>
      ))}
    </ul>
	</MainLayout>