---
import { getAllUsers } from '../lib/crud';

const users = await getAllUsers();
---

<html>
  <body>
    <h1>Users</h1>
    <ul>
      {users.map(user => (
        <li>{user.name} - {user.email}</li>
      ))}
    </ul>
  </body>
</html>