---
import { ViewTransitions } from "astro:transitions";
import Navigator from "./Navigator.astro";


---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		
	</head>
	<body class="bg-pink-600 h-screen">
<main class="bg-slate-800/50 container mx-auto p-8">
  <Navigator />
  <div class="p-6">
		<slot />
	</div>
</main>
	</body>
</html>
<style is:global>
body {
  @apply text-slate-100 bg-slate-700;
   
}
</style>
