<div class="navbar bg-stone-950">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">daisyUI</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/">Inicio</a></li>
      <li><a href="/create">Nuevo</a></li>
      <li><a href="/delete">Borrar</a></li>
      
    </ul>
  </div>
</div>