---
import MainLayout from '../../components/MainLayout.astro';
import { firebase } from '../../firebase/config';
import { getUserById, updateUser } from '../../lib/crud';

const firebaseUser = firebase.auth.currentUser;
console.log( firebaseUser )
if(firebaseUser === null) {

  return Astro.redirect('/login') 

}
export const prerender = false;

const { id } = Astro.params;
let user = null;
let errorMessage = '';

if (!id) {
  return Astro.redirect('/');
}

try {
  user = await getUserById(Number(id));

  if (Astro.request.method === 'POST') {
    const formData = await Astro.request.formData();
    const name = formData.get('name')?.toString() || '';
    const email = formData.get('email')?.toString() || '';

    if (!name || !email) {
      errorMessage = 'Name and email are required';
    } else {
      await updateUser(Number(id), name, email);
      return Astro.redirect('/');
    }
  }
} catch (error) {
  errorMessage = 'Failed to fetch or update user: ' + (error instanceof Error ? error.message : 'Unknown error');
}
---


<MainLayout>
  <h1>Actualizar usuario</h1>
  
  {errorMessage && (
    <div style="color: red;">{errorMessage}</div>
  )}

  {user ? (
    <form method="POST" class="max-w-xs text-slate-900">
    
    <label class="input input-bordered flex items-center gap-2" for="name">
      <svg
        
        viewBox="0 0 16 16"
        fill="currentColor"
        class="h-4 w-4 opacity-100 text-slate-900"
        >
        <path
          d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z" />
      </svg>
      <input 
      
            id="name" 
            name="name" 
            required 
            minlength="2" 
            maxlength="100"
        type="text" class="grow" 
        value={user.name} 
      />
    </label>
  
    <label class="input input-bordered flex items-center gap-2" for="email">
      <svg
        
        viewBox="0 0 16 16"
        fill="currentColor"
        class="h-4 w-4  text-slate-900">
        <path
          d="M2.5 3A1.5 1.5 0 0 0 1 4.5v.793c.026.009.051.02.076.032L7.674 8.51c.206.1.446.1.652 0l6.598-3.185A.755.755 0 0 1 15 5.293V4.5A1.5 1.5 0 0 0 13.5 3h-11Z" />
        <path
          d="M15 6.954 8.978 9.86a2.25 2.25 0 0 1-1.956 0L1 6.954V11.5A1.5 1.5 0 0 0 2.5 13h11a1.5 1.5 0 0 0 1.5-1.5V6.954Z" />
      </svg>
      <input 
        class="grow" 
        type="email" 
            id="email" 
            name="email" 
            required 
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
        value={user.email}
        
        />
    </label>
  
  <button type="submit" class="btn btn-wide mt-1" >Actualizar Usuario</button>
</form>
  ) : (
    <p>User not found</p>
  )}
</MainLayout>